@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url('bootstrap-reset.css');

.wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}


/*------------------------------
       CALENDAR STYLES
-------------------------------*/

.has-toolbar.fc {
    margin-top: 50px;
}

.fc-header-title {
    display: inline-block;
    margin-top: -45px;
    vertical-align: top;
}

.fc-header-center {
    text-align: left;
}

.fc-header-left {
    text-align: left;
    width: 18%;
}

.fc-view {
    margin-top: -50px;
    overflow: hidden;
    width: 100%;
}

.fc-state-default, .fc-state-default .fc-button-inner {
    background: #fff !important;
    border-color: #DDDDDD;
    border-style: none solid;
    color: #646464;
}

.fc-state-active, .fc-state-active .fc-button-inner, .fc-state-active, .fc-button-today .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
    background: #65CEA7 !important;
    color: #fff !important;
}

.fc-event-skin {
    background-color: #5d708c !important;
    border-color: #5d708c !important;
    color: #FFFFFF !important;
}

.fc-grid th {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #65CEA7 !important;
    color: #fff;
    text-transform: uppercase;
}

.fc-widget-header {
    border-color: #62c6a0;
}

.fc-widget-content {
    border-color: #ebebeb;
    background: #fff;
}

.fc-header-title h2 {
    font-size: 18px !important;
    color: #474752;
    font-weight: 300;
    padding: 0 10px;
}

.external-event {
    cursor: move;
    display: inline-block !important;
    margin-bottom: 6px !important;
    margin-right: 6px !important;
    padding: 8px;
}

#external-events p input[type="checkbox"] {
    margin: 0;
}

#external-events .external-event {
    font-size: 11px;
    font-family: 'Arial';
    font-weight: normal;
}

.drg-event-title {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.fc-content .fc-event {
    border-radius: 4px;
    webkit-border-radius: 4px;
    padding: 4px 6px;
}

.drp-rmv {
    padding-top: 10px;
    margin-top: 10px;
}